<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neutral Interface</title>
    <link rel="stylesheet" type="text/css" href="/static/neutral.css">
</head>
<body>
    <div id="symptoms">
        <h2>Symptoms</h2>
        <ul>
            <li>Fever</li>
            <li>Cough</li>
            <li>Shortness of breath</li>
            <li>Fatigue</li>
            <li>Body aches</li>
        </ul>
    </div>
    <div id="test-done">
        <h2>Test Done</h2>
        <form>
            <input type="checkbox" id="test1" name="test1" value="test1">
            <label for="test1">Test 1</label><br>
            <input type="checkbox" id="test2" name="test2" value="test2">
            <label for="test2">Test 2</label><br>
            <input type="checkbox" id="test3" name="test3" value="test3">
            <label for="test3">Test 3</label><br>
        </form>
    </div>
</body>
</html>
